<html>
<head>
    <title>Contact us</title>
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
</head>
<body>

    <h1>Contact us</h1>

    {% if form.errors %}
       <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
       </p>
    {% endif %}

    <form action="{% url 'hello:contact' %} " method="post">
        {% csrf_token %}
       <div class="field ">
           {{ form.subject.errors }}
           <label for="id_subject"> Subject:</label>
           {{ form.subject }}
       </div>
        <div class="field">
           {{ form.email.errors }}
           <label for="id_email"> Email:</label>
           {{ form.email }}
       </div>
        <div class="field{% if form.message.errors %} errors

       {% endif %}">
           <label for="id_message"> Message:</label>
           {{ form.message }}
       </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>