{% extends "hello\main_template.html" %}
{% block title %}My Hello Page{% endblock %}
{% block content %}
Hello World!!!<p>Today is {{today}}</p>

We are
{% if today.day == 1 %}

the first day of month.
{% elif today.day == 31 %}

the last day of month.
{% else %}

I don't know.
{%endif%}

<p>
  {% for day in days_of_week %}
  {{ day }}
</p>
{% endfor %}
{% endblock %}