{% extends "reporting/__base.html" %}
{% load static %}
{% load header_tag %}
{% load pagination_tag %}
{% load timetags %}
{% block title %}My amazing website | table dynamic{% endblock %}

{% block stylesheet %}
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'reporting/vendors/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'reporting/vendors/font-awesome/css/font-awesome.min.css' %}"/>
    <!-- iCheck -->
    <link rel="stylesheet" type="text/css" href="{% static 'reporting/vendors/iCheck/skins/flat/green.css' %}"/>
    <!-- Custom Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'reporting/build/css/custom.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Users <small>Some examples to get you started</small></h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                   <form action="{% url 'reporting:table_dynamic' %} " method="get">
                    {% csrf_token %}
                   <!-- Start filter /-->
                    {% include "reporting/__filter.html" %}
                  <!-- End filter /-->
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                            {% table_header headers url%}
                        </tr>
                      </thead>


                      <tbody>
                       {% for order in order_list %}<tr class="{% cycle odd,even %}">
                            <td><a href="{{ order.get_absolute_url|escape }}">{{ order.order_id|escape }}</a></td>
                            <td>{{ order.uid|escape }}</td>
                            <td>{{ order.create_time|print_timestamp|date|escape }}</td>
                            <td>{{ order.update_time|print_timestamp|date|escape }}</td>
                          </tr>
                      {% endfor %}
                       </tbody>

                    </table>

                  <!-- Start pagging /-->

                    {% table_pagination order_list url %}

                  <!-- End pagging /-->
                  </form>
                  </div>

                </div>

              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block script %}
    <!-- jQuery -->
    <script src="{% static 'reporting/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'reporting/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'reporting/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'reporting/vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
   <script src="{% static 'reporting/vendors/iCheck/icheck.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'reporting/build/js/custom.min.js' %}"></script>


    <!-- jQuery -->
    <script src="{% static 'reporting/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'reporting/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'reporting/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
     <script src="{% static 'reporting/vendors/nprogress/nprogress.js' %}"></script>



    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'reporting/js/moment/moment.min.js' %}"></script>
    <script src="{% static 'reporting/js/datepicker/daterangepicker.js' %}"></script>

    <script>
      $(document).ready(function() {
        $('.datepicker').daterangepicker({
          singleDatePicker: true,
          calender_style: "picker_1",
          format: 'YYYY-MM-DD'
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });

      });
    </script>
    <!-- /bootstrap-daterangepicker -->

{% endblock %}