{% extends "base_with_ga.html" %}

{% block head %}
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart","table"]});
        {% if timelines %}
            google.setOnLoadCallback(drawChartAndTable)
        {% endif %}

        function drawChartAndTable() {
            {% for key, value in timelines.items %}
                var newGraphicDiv = $("<div class='graphic-div'></div>").attr("id", "graphic-div0-" + "{{key}}");
                $("#graphic-divs").append(newGraphicDiv);

                var data = google.visualization.arrayToDataTable([
                {% for row in value.0 %}
                  {% if forloop.counter0 == 0 %}
                    [{% for col in row %}"{{col}}",{% endfor %}],
                  {% else %}
                    [
                      {% for col in row %}
                        {% if forloop.counter0 == 0 %}"{{col}}",{% else %}{{col}},{% endif %}
                      {% endfor %}
                    ],
                  {% endif %}
                {% endfor %}
                ]);

                var options = {
                  title: '{{key.upper}} - AirPay A30 Android Version Distribution',
                  vAxis : { baseline : 0},
                  pointSize : 1,
                  width: 850,
                  lineWidth : 1,
                  isStacked: true,
                };

                var newDiv = $("<div></div>").attr("id", "chart-div0-" + "{{key}}");
                newGraphicDiv.append(newDiv);
                var chart = new google.visualization.ColumnChart(document.getElementById("chart-div0-" + "{{key}}"));
                chart.draw(data, options);


                var tableData = new google.visualization.DataTable();
                tableData.addColumn('string', 'Date');
                tableData.addColumn('number', 'C30');
                tableData.addRows([
                  {% for row in value.0 %}
                    ["{{row.0}}", {{row.1}}],
                  {% endfor %}
                ]);

                var newTableDiv = $("<div></div>").attr("id", "table-div0-" + "{{key}}");
                newGraphicDiv.append(newTableDiv);
                var table = new google.visualization.Table(document.getElementById("table-div0-" + "{{key}}"));
                table.draw(data, {width: 850});


                var newGraphicDiv = $("<div class='graphic-div'></div>").attr("id", "graphic-div1-" + "{{key}}");
                $("#graphic-divs").append(newGraphicDiv);

                var data = google.visualization.arrayToDataTable([
                {% for row in value.1 %}
                  {% if forloop.counter0 == 0 %}
                    [{% for col in row %}"{{col}}",{% endfor %}],
                  {% else %}
                    [
                      {% for col in row %}
                        {% if forloop.counter0 == 0 %}"{{col}}",{% else %}{{col}},{% endif %}
                      {% endfor %}
                    ],
                  {% endif %}
                {% endfor %}
                ]);

                var options = {
                  title: '{{key.upper}} - AirPay A30 IOS Version Distribution',
                  vAxis : { baseline : 0},
                  pointSize : 1,
                  width: 850,
                  lineWidth : 1,
                  isStacked: true,
                };

                var newDiv = $("<div></div>").attr("id", "chart-div1-" + "{{key}}");
                newGraphicDiv.append(newDiv);
                var chart = new google.visualization.ColumnChart(document.getElementById("chart-div1-" + "{{key}}"));
                chart.draw(data, options);


                var tableData = new google.visualization.DataTable();
                tableData.addColumn('string', 'Date');
                tableData.addColumn('number', 'C30');
                tableData.addRows([
                  {% for row in value.1 %}
                    ["{{row.0}}", {{row.1}}],
                  {% endfor %}
                ]);

                var newTableDiv = $("<div></div>").attr("id", "table-div1-" + "{{key}}");
                newGraphicDiv.append(newTableDiv);
                var table = new google.visualization.Table(document.getElementById("table-div1-" + "{{key}}"));
                table.draw(data, {width: 850});

            {% endfor %}
        }
    </script>
    <script type="text/javascript">
        $(function() {
            $(".date_picker").datepicker({dateFormat: "yy-mm-dd"});
        });
    </script>
{% endblock %}

{% block body %}
    <div>
        <form method="POST">{%csrf_token%}
          <table id='id_form_table'>
            {{ form.as_table }}
          </table>
            <input type="submit" value="Submit" />
            <input name="download" type="submit" value="Download" />
        </form>
    </div>

    <div id="graphic-divs"></div>
{% endblock %}
