{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}
	Town weather
{% endblock title %}

{% block content %}
<h3 align="center">
	{% trans "Weather history for " %}
	{% if town %}
		{{ town }}
	{% else %}
		{% trans " all towns" %}
	{% endif %}
</h3>
<div class="row">
	<form method="POST">
		{% csrf_token %}
		<div class="col-md-3">{{ form.town }}</div>
		<div class="col-md-3">
			<button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
		</div>
		<div class="col-md-6">
			<button type="submit" class="btn btn-default pull-right m-left-5" name="pdf">{% trans "PDF Report" %}</button>
			<button type="submit" class="btn btn-default pull-right" name="excel">{% trans "Excel Report" %}</button>
		</div>
	</form>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Date" %}</th>
				{% if not town %}
					<th>{% trans "Town" %}</th>
				{% endif %}
				<th>{% trans "Description" %}</th>
				<th>{% trans "Max T." %}</th>
				<th>{% trans "Min T." %}</th>
				<th>{% trans "Wind speed" %}</th>
				<th>{% trans "Precip." %}</th>
				<th>{% trans "Precip. %" %}</th>
				<th>{% trans "Observations" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for wp in weather_period %}
			<tr>
				<td><a href="{% url 'details' wp.id %}">{{ wp.date }}</a></td>
				{% if not town %}
					<td>{{ wp.town }}</td>
				{% endif %}
				<td>{{ wp.description }}</td>
				<td>{{ wp.max_temperature }} ℃</td>
				<td>{{ wp.min_temperature }} ℃</td>
				<td>{{ wp.wind_speed }} km/h</td>
				<td>{{ wp.precipitation }} mm</td>
				<td>{{ wp.precipitation_probability }} %</td>
				<td>{{ wp.observations|linebreaksbr }}</td>
			</tr>
			{% empty %}
				<tr>
					<td colspan="9" class="text-center">{% trans "No weather history." %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
